/* Global Selectors */
article img {
  width: auto;
}

/* Class */
.carousel {
  margin-left: 50px; 
  padding: 10px;
  border-radius: 50%;
  background-color: #9090C0;
}

.carousel:hover {
  background-color: aliceblue;
}

.carousel:focus {
  background-color: aliceblue;
}

.carousel-section {
  display: flex;
  justify-content: center;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-img {
  border: 3px solid;
  box-shadow:  rgba(0, 0, 0, 0.20) 5px 5px 5px 5px;
}