/* GLOBAL SELECTORS */
nav {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
}

button {
  padding: 20px;
  margin: 10px;
  border: hidden;
  background: none;
  font-size: 20px;
  margin-right: 40px;
} 

section {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

/* CLASS */
.logo {
  width: 5%;
  margin-right: auto !important;
  margin-left: 20px;
}